.flex {
  display: flex;
  gap: 20px;

  &.gap-small {
    gap: 10px;
  }

  &.gap-none {
    gap: 0px;
  }

  &.gap-large {
    gap: 30px;
  }
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
  max-width: 100vw;
}

.align-center {
  align-items: center;
}

.flex-column > * {
  margin: auto;
}

